body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#digital-clock {
    font-size: 2em;
    margin-bottom: 20px;
}

#analog-clock {
    width: 200px;
    height: 200px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: relative;
}

.hand {
    position: absolute;
    transform-origin: 50% 100%;
    background-size: contain;
}

#hour-hand {
    width: 320px;
    height: 320px;
    top: 0;
    left: 50%;
    margin-left: -165px;
    background: url('hour-hand.png'); /* Replace 'hour-hand.png' with your hour hand image */
    transform-origin: 50% 50%;
}

#minute-hand {
    width: 320px;
    height: 320px;
    top: 0;
    left: 50%;
    margin-left: -165px;
    background: url('minute-hand.png'); /* Replace 'minute-hand.png' with your minute hand image */
    transform-origin: 50% 50%;
}

#second-hand {
    width: 320px;
    height: 320px;
    top: 0;
    left: 50%;
    margin-left: -165px;
    background: url('second-hand.png'); /* Replace 'second-hand.png' with your second hand image */
    transform-origin: 50% 50%;

}